Repository gnosis/gp-ui, pull requests merged in 2021-12, with the labels that each got.

#880 replaced placeholder with el
  src/apps/explorer/components/common/Search/Search.styled.ts
  src/apps/explorer/components/common/Search/index.tsx
  src/apps/explorer/pages/Home/index.tsx
Labels: app:Explorer, Protofire, Auto-merge

#723 Retry endpoint when it does not return
  src/api/web3/index.ts
  src/hooks/useErc20.ts
  src/services/helpers/getErc20Info.ts
  test/services/getErc20Info.test.ts
Labels: app:Explorer, Protofire, Auto-merge

#898 [Explorer] Networks change menu
  src/apps/explorer/components/OrdersTableWidget/OrdersTableWithData.tsx
  src/apps/explorer/layout/Header.tsx
  src/apps/explorer/pages/NotFound.tsx
  src/components/NetworkSelector/NetworkSelector.styled.ts
  src/components/NetworkSelector/index.tsx
  src/components/layout/GenericLayout/Header/index.tsx
  src/components/layout/GenericLayout/variablesCss.ts
  src/const.ts
  src/styles/colours.ts
  src/theme/styles/colours.ts
  src/utils/url.ts
  test/utils/url.spec.ts
Labels: Protofire, Auto-merge

#888 Adding resolveENS function and use on UserDetail Page
  src/apps/explorer/components/OrdersTableWidget/OrdersTableWithData.tsx
  src/apps/explorer/components/OrdersTableWidget/index.tsx
  src/apps/explorer/components/OrdersTableWidget/useSearchInAnotherNetwork.tsx
  src/apps/explorer/pages/UserDetails.tsx
  src/components/orders/OrdersUserDetailsTable/index.tsx
  src/hooks/useResolveEns.ts
  src/hooks/useSearchSubmit.ts
Labels: app:Explorer, Protofire, Auto-merge

#900 Adding getTxOrders to connect Tx API
  src/api/operator/index.ts
  src/api/operator/operatorApi.ts
  src/api/operator/operatorMock.ts
  src/api/operator/types.ts
Labels: app:Explorer, Protofire, Auto-merge

#918 917 rename xdai to gc
  src/apps/explorer/ExplorerApp.tsx
  src/apps/explorer/components/OrdersTableWidget/useSearchInAnotherNetwork.tsx
  src/apps/explorer/layout/Header.tsx
  src/components/NetworkSelector/NetworkSelector.styled.ts
  src/components/NetworkSelector/index.tsx
  src/state/network/updater.tsx
  src/styles/colours.ts
  src/utils/miscellaneous.ts
  test/utils/miscellaneous.spec.ts
Labels: app:Explorer, Protofire, Auto-merge

#922 fix ethereum URL on EmptyUserDetailsTable
  src/apps/explorer/components/OrdersTableWidget/useSearchInAnotherNetwork.tsx
Labels: app:Explorer, Protofire

#921 Release/2.5.0
  .github/stale.yml
  getWebpackConfig.js
  package.json
  src/api/operator/types.ts
  src/api/web3/index.ts
  src/apps/explorer/ExplorerApp.tsx
  src/apps/explorer/components/OrdersTableWidget/OrdersTableWithData.tsx
  src/apps/explorer/components/OrdersTableWidget/index.tsx
  src/apps/explorer/components/OrdersTableWidget/useSearchInAnotherNetwork.tsx
  src/apps/explorer/components/common/Search/Search.styled.ts
  src/apps/explorer/components/common/Search/index.tsx
  src/apps/explorer/layout/Header.tsx
  src/apps/explorer/pages/Home/index.tsx
  src/apps/explorer/pages/NotFound.tsx
  src/apps/explorer/pages/Order.tsx
  src/apps/explorer/pages/SearchNotFound.tsx
  src/apps/explorer/pages/UserDetails.tsx
  src/apps/explorer/pages/styled.tsx
  src/components/NetworkSelector/NetworkSelector.styled.ts
  src/components/NetworkSelector/index.tsx
  src/components/RedirectToSearch.tsx
  src/components/common/DateDisplay/index.tsx
  src/components/layout/GenericLayout/Header/index.tsx
  src/components/layout/GenericLayout/variablesCss.ts
  src/components/orders/DetailsTable/index.tsx
  src/components/orders/OrderDetails/index.tsx
  src/components/orders/OrderNotFound/index.tsx
  src/components/orders/OrdersUserDetailsTable/index.tsx
  src/components/orders/StatusLabel/StatusLabel.stories.tsx
  src/components/orders/StatusLabel/index.tsx
  src/const.ts
  src/hooks/useErc20.ts
  src/hooks/useResolveEns.ts
  src/hooks/useSanitizeOrderIdAndUpdateUrl.ts
  src/hooks/useSearchSubmit.ts
  src/services/helpers/getErc20Info.ts
  src/state/network/updater.tsx
  src/styles/colours.ts
  src/theme/styles/colours.ts
  src/utils/env.ts
  src/utils/miscellaneous.ts
  src/utils/url.ts
  test/hooks/useSearchSubmit.test.tsx
  test/services/getErc20Info.test.ts
  test/utils/miscellaneous.spec.ts
  test/utils/url.spec.ts
  webpack.config.js
  yarn.lock
Labels: app:Explorer, Protofire

#926 Update develop branch with release/v2.5.0
  package.json
  src/apps/explorer/components/OrdersTableWidget/useSearchInAnotherNetwork.tsx
Labels: app:Explorer, Protofire
