Repository gnosis/gp-ui, pull requests merged in 2022-02, with the labels that each got.

#1011 Release/2.6.0-RC.1
  .mergify.yml
  package.json
  src/api/operator/index.ts
  src/api/operator/operatorApi.ts
  src/api/operator/operatorMock.ts
  src/api/operator/types.ts
  src/api/wallet/WalletApi.ts
  src/apps/explorer/ExplorerApp.tsx
  src/apps/explorer/components/OrdersTableWidget/index.tsx
  src/apps/explorer/components/OrdersTableWidget/useGetOrders.tsx
  src/apps/explorer/components/TransactionsTableWidget/TransactionsTableWithData.tsx
  src/apps/explorer/components/TransactionsTableWidget/context/TransactionsTableContext.tsx
  src/apps/explorer/components/TransactionsTableWidget/index.tsx
  src/apps/explorer/components/common/Search/index.tsx
  src/apps/explorer/layout/Header.tsx
  src/apps/explorer/pages/Home/index.tsx
  src/apps/explorer/pages/NotFound.tsx
  src/apps/explorer/pages/Order.tsx
  src/apps/explorer/pages/SearchNotFound.tsx
  src/apps/explorer/pages/TransactionDetails.tsx
  src/apps/explorer/pages/UserDetails.tsx
  src/apps/explorer/pages/styled.tsx
  src/apps/explorer/styled.ts
  src/assets/img/tokens/0x44fa8e6f47987339850636f88629646662444217.png
  src/assets/img/tokens/0x9C58BAcC331c9aa871AFD802DB6379a98e80CEdb.png
  src/assets/img/tokens/0xe91D153E0b41518A2Ce8Dd3D7944Fa863463a97d.png
  src/assets/img/tokens/xdai.png
  src/components/NetworkSelector/NetworkSelector.styled.ts
  src/components/common/DateDisplay/index.tsx
  src/components/common/SimpleTable/index.tsx
  src/components/common/TokenImg.tsx
  src/components/layout/GenericLayout/Footer/index.tsx
  src/components/layout/GenericLayout/Navigation/index.tsx
  src/components/orders/DetailsTable/index.tsx
  src/components/orders/OrderNotFound/index.tsx
  src/components/transaction/TransactionTable/index.stories.tsx
  src/components/transaction/TransactionTable/index.tsx
  src/hooks/useGetOrders.tsx
  src/hooks/useOperatorOrder.ts
  src/hooks/useSearchSubmit.ts
  src/services/helpers/tryGetOrderOnAllNetworks.ts
  src/styles/colours.ts
  src/theme/styles/media.ts
  src/utils/miscellaneous.ts
  test/services/tryGetOrderOnAllNetworks.test.ts
  test/utils/miscellaneous.spec.ts
  yarn.lock
Labels: app:Explorer, Protofire

#999 Adding isOrderCancelled and isOrderCancelling cases
  src/apps/explorer/const.ts
  src/utils/operator.ts
  test/testHelpers.ts
  test/utils/operator/orderStatus.test.ts
Labels: app:Explorer, Protofire, Auto-merge

#1025 1014 change tab title to Orders
  src/apps/explorer/components/TransactionsTableWidget/index.tsx
Labels: app:Explorer, Protofire, Auto-merge

#1026 Remove margins left/right from header
  src/apps/explorer/styled.ts
  src/components/NetworkSelector/NetworkSelector.styled.ts
  src/components/layout/GenericLayout/Header/index.tsx
Labels: app:Explorer, Protofire, Auto-merge

#1027 [Explorer] Add analytics link to header
  src/apps/explorer/layout/Header.tsx
Labels: Protofire, Auto-merge, 🔥 Critical

#1023 [Explorer] Update Gnosis Chain color and contrast
  src/components/NetworkSelector/NetworkSelector.styled.ts
  src/styles/colours.ts
Labels: Protofire, Auto-merge, ❗️Medium

#1029 [Explorer] Make internal links open in the same tab - external links in another one
  src/components/orders/OrdersUserDetailsTable/index.tsx
  src/components/transaction/TransactionTable/index.tsx
Labels: ☀️ Enhancement, Protofire, Auto-merge, ❗️Medium

#1028 [Explorer] Remove appId from Explorer footer
  src/components/layout/GenericLayout/Footer/index.tsx
Labels: ☀️ Enhancement, Protofire, Auto-merge

#1010 [Explorer] Change 'Unknown Token' to Token like Etherscan
  src/services/helpers/getErc20Info.ts
  test/utils/format.spec.ts
Labels: Protofire, Auto-merge, ⬇ Low

#1024 Release 2.6.0
  package.json
  src/apps/explorer/components/TransactionsTableWidget/index.tsx
  src/apps/explorer/const.ts
  src/apps/explorer/layout/Header.tsx
  src/apps/explorer/styled.ts
  src/components/NetworkSelector/NetworkSelector.styled.ts
  src/components/layout/GenericLayout/Footer/index.tsx
  src/components/layout/GenericLayout/Header/index.tsx
  src/components/orders/OrdersUserDetailsTable/index.tsx
  src/components/transaction/TransactionTable/index.tsx
  src/services/helpers/getErc20Info.ts
  src/styles/colours.ts
  src/utils/operator.ts
  test/testHelpers.ts
  test/utils/format.spec.ts
  test/utils/operator/orderStatus.test.ts
Labels: app:Explorer, Protofire

#1037 "Search not found" responsive page
  src/apps/explorer/pages/Home/index.tsx
  src/components/orders/OrderNotFound/index.tsx
Labels: 🐞 Bug, app:Explorer, 📱Mobile, Protofire, Auto-merge

#1036 [Explorer] Remove 'This project is in beta. Use at your own risk' message in footer
  src/components/layout/GenericLayout/Footer/config.ts
  src/components/layout/GenericLayout/Footer/index.tsx
Labels: ☀️ Enhancement, Protofire, Auto-merge
